{{ partial "head.html" . }}
<body>

{{ partial "sidebar.html" . }}

	<div class="content container">
		<div class="container" id="md-content-container">
			<div class="row" id="md-content-row">
				<div class="col-md-12" id="md-content">
				<h1 class="md-inpage-anchor">
					<a class="md-image-selfref" href="/assets/logo.png" title="">
						<img src="assets/logo.png" alt="">
					</a> 
					<em>Angularity</em>
					<span style="display: none;" class="anchor-highlight">
						<a href="/">⚓</a>
					</span>
				</h1>
				<blockquote>
					<p><div class="md-text">Angularity is a philosophy of development.</div></p>
					<p><div class="md-text">Our focus is maintaining uniformity of development across groups of developers who hold varying experience levels.</div></p>
					<p><div class="md-text">Our contributors hold a collective vision of best-practice AngularJS development and have condensed this into a set of tools and resources known as <strong>Angularity</strong>.</div></p>
				</blockquote>
				<p><div class="md-text"><a href="/about/intro">About ⟶</a></div></p>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
